<section class="table-container">
  <h2>Saved Patient Searches</h2>

  <% if @saved_views.count > 0 %>
    <table>
      <thead>
        <tr>
          <td><input type="checkbox" name=""></td>
          <td>Chart ID</td>
          <td>Last Name</td>
          <td>First Name</td>
          <td>EHR Source</td>
        </tr>
      </thead>
      <tbody>
        <% @saved_views.each do | saved_view | %>
          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="<%= patient_path(patient_id: saved_view.clinical_summary.patient.nist_id) %>"><%= saved_view.clinical_summary.document_id %></a></td>
            <td><%= saved_view.clinical_summary.patient.last_name %></td>
            <td><%= saved_view.clinical_summary.patient.first_name %></td>
            <td><%= saved_view.clinical_summary.ehr_system.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <h4><a href="#">Show More Results</a></h4>

  <% else %>
    <p>You do not have any saved views yet.</p>
  <% end %>
</section>
