<main id="dashboard">

  <div class="column">
    <section id="search-section">
      <div class="patient-search-container">
        <%= image_tag "img_nyu.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>

      <div class="patient-search-container">
        <%= image_tag "img_princeton.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>

      <div class="patient-search-container">
        <%= image_tag "img_stanford.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>
      
    </section>

    <%= render partial: 'saved_views' %>    

    <%= render partial: 'recent_views' %>
  </div>
</main>
