<main id="dashboard">

  <div class="column">
    <section id="search-section">
      <div class="patient-search-container">
        <%= image_tag "img_nyu.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>

      <div class="patient-search-container">
        <%= image_tag "img_princeton.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>

      <div class="patient-search-container">
        <%= image_tag "img_stanford.png" %>
        <p>Current Status: Green - Real-Time Updates</p>
        <footer>
          <a href="<%= patient_search_path %>">Patient Search</a>
        </footer>
      </div>
      
    </section>

    <section class="table-container">
      <h2>Saved Patient Searches</h2>

      <table>
        <thead>
          <tr>
            <td><input type="checkbox" name=""></td>
            <td>Chart ID</td>
            <td>Last Name</td>
            <td>First Name</td>
            <td>EHR Source</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="<%= patient_path(patient_id: 'a1d4ee8aba494ca^^^&1.3.6.1.4.1.21367.2005.13.20.1000&ISO') %>">DB734647-FC99-424C-A864-7E3CDA82E703</a></td>
            <td>Bixby</td>
            <td>Timothy</td>
            <td>NYU Langone Medical Center</td>
          </tr>

          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="<%= patient_path(patient_id: 'ffc486eff2b04b8^^^&1.3.6.1.4.1.21367.2005.13.20.1000&ISO') %>">1.1.1.1.1.1.1.1.1</a></td>
            <td>Bixby</td>
            <td>Barbara</td>
            <td>NYU Langone Medical Center</td>
          </tr>

          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="<%= patient_path(patient_id: 'c2522c55546940a^^^%261.3.6.1.4.1.21367.2005.13.20.1000%26ISO') %>">BE84A8E4-A22E-4210-A4A6-B3C48273E84C</a></td>
            <td>Carthwright</td>
            <td>Elizabeth</td>
            <td>NYU Langone Medical Center</td>
          </tr>

          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="<%= patient_path(patient_id: 'ef05d4068ee144f^^^&1.3.6.1.4.1.21367.2005.13.20.1000&ISO') %>">2.16.840.1.113883.19.5.99999.1</a></td>
            <td>Carthwright</td>
            <td>Walter</td>
            <td>NYU Langone Medical Center</td>
          </tr>

          <tr>
            <td><input type="checkbox" name=""></td>
            <td><a href="#">7FE0DB33FFFF</a></td>
            <td>Salvatore</td>
            <td>Erik</td>
            <td>Princeton Rejuvination Institute, LLC</td>
          </tr>
        </tbody>
      </table>

      <h4><a href="#">Show More Results</a></h4>
    </section>

    <%= render partial: 'recent_views' %>
  </div>
</main>
