<table>
  <tbody>
    <tr>
      <td class="one-half">First Name</td>
      <td class="one-half"><%= @clinical_summary.first_name %></td>
    </tr>
    <tr>
      <td class="one-half">Last Name</td>
      <td class="one-half"><%= @clinical_summary.last_name %></td>
    </tr>
    <tr>
      <td class="one-half">DOB</td>
      <td class="one-half"><%= @clinical_summary.dob %></td>
    </tr>
    <tr>
      <td class="one-half">SSN</td>
      <td class="one-half"><%= @clinical_summary.ssn %></td>
    </tr>
    <tr>
      <td class="one-half">Sex</td>
      <td class="one-half"><%= @clinical_summary.sex %></td>
    </tr>
    <tr>
      <td class="one-half">Street Address</td>
      <td class="one-half"><%= @clinical_summary.street_address %></td>
    </tr>
    <tr>
      <td class="one-half">City</td>
      <td class="one-half"><%= @clinical_summary.city %></td>
    </tr>
    <tr>
      <td class="one-half">State</td>
      <td class="one-half"><%= @clinical_summary.state %></td>
    </tr>
    <tr>
      <td class="one-half">Zipcode</td>
      <td class="one-half"><%= @clinical_summary.zip %></td>
    </tr>
    <tr>
      <td class="one-half">County</td>
      <td class="one-half"><%= @clinical_summary.county %></td>
    </tr>
    <tr>
      <td class="one-half">Country</td>
      <td class="one-half"><%= @clinical_summary.country %></td>
    </tr>
    <tr>
      <td class="one-half">Home Phone</td>
      <td class="one-half"><%= @clinical_summary.home_phone %></td>
    </tr>
    <tr>
      <td class="one-half">Mobile Phone</td>
      <td class="one-half"><%= @clinical_summary.mobile_phone %></td>
    </tr>
    <tr>
      <td class="one-half">Email</td>
      <td class="one-half"><%= @clinical_summary.email %></td>
    </tr>
    <tr>
      <td class="one-half">Race</td>
      <td class="one-half"><%= @clinical_summary.race %></td>
    </tr>
    <tr>
      <td class="one-half">Ethnicity</td>
      <td class="one-half"><%= @clinical_summary.ethnicity %></td>
    </tr>
    <tr>
      <td class="one-half">Marital Status</td>
      <td class="one-half"><%= @clinical_summary.marital_status %></td>
    </tr>
  </tbody>
</table>
