<main id="patient-detail">
  <div class="column">

    <h2>Patient Detail - Chart ID <%= @clinical_summary.id %>: <%= @clinical_summary.last_name %>, <%= @clinical_summary.first_name %> [NYU Langone Medical Center]</h2>

    <%= button_to toggle_saved_view_text(@clinical_summary.id), save_view_path, params: { summary_id: @clinical_summary.id } %>

    <ul class="info-links">
      <li><%= link_to 'Demographics', '#demographics' %></li>
      <li><%= link_to 'Allergies', '#allergies' %></li>
      <li><%= link_to 'Encounters', '#encounters' %></li>
      <li><%= link_to 'Family History', '#family-history' %></li>
      <li><%= link_to 'Immunizations', '#immunizations' %></li>
      <li><%= link_to 'Medical Equipment', '#medical-equipment' %></li>
      <li><%= link_to 'Medications', '#medications' %></li>
      <li><%= link_to 'Plan of Care', '#plan-of-care' %></li>
      <li><%= link_to 'Problems', '#problems' %></li>
      <li><%= link_to 'Procedures', '#procedures' %></li>
      <li><%= link_to 'Results', '#results' %></li>
      <li><%= link_to 'Social History', '#social-history' %></li>
      <li><%= link_to 'Vital Signs', '#vital-signs' %></li>
    </ul>

    <section id="demographics">
      <h3>Demographics</h3>

      <%= render partial: 'demographics' %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="allergies">
      <h3>Allergies</h3>

      <% if @clinical_summary.has_allergies_data? %>
        <%= render partial: 'allergies' %>
      <% else %>
        <p class="no-data-message">This patient has no reported allergies.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="encounters">
      <h3>Encounters</h3>

      <% if @clinical_summary.has_encounters_data? %>
        <%= render partial: 'encounters' %>
      <% else %>
        <p class="no-data-message">This patient has no reported encounters.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="family-history">
      <h3>Family History</h3>

      <% if @clinical_summary.has_family_history_data? %>
        <%= render partial: 'family_history' %>
      <% else %>
        <p class="no-data-message">This patient has no reported family history.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="immunizations">
      <h3>Immunizations</h3>

      <% if @clinical_summary.has_immunizations_data? %>
        <%= render partial: 'immunizations' %>
      <% else %>
        <p class="no-data-message">This patient has no reported immunizations.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="medical-equipment">
      <h3>Medical Equipment</h3>

      <% if @clinical_summary.has_medical_equipment_data? %>
        <%= render partial: 'medical_equipment' %>
      <% else %>
        <p class="no-data-message">This patient has no reported medical equipment.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="medications">
      <h3>Medications</h3>

      <% if @clinical_summary.has_medications_data? %>
        <%= render partial: 'medications' %>
      <% else %>
        <p class="no-data-message">This patient has no reported medications.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="plan-of-care">
      <h3>Plan of Care</h3>

      <% if @clinical_summary.has_plan_of_care_data? %>
        <%= render partial: 'plan_of_care' %>
      <% else %>
        <p class="no-data-message">This patient has no reported plan of care.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="problems">
      <h3>Problems</h3>

      <% if @clinical_summary.has_problems_data? %>
        <%= render partial: 'problems' %>
      <% else %>
        <p class="no-data-message">This patient has no reported problems.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="procedures">
      <h3>Procedures</h3>

      <% if @clinical_summary.has_procedures_data? %>
        <%= render partial: 'procedures' %>
      <% else %>
        <p class="no-data-message">This patient has no reported procedures.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="results">
      <h3>Results</h3>

      <% if @clinical_summary.has_results_data? %>
        <%= render partial: 'results' %>
      <% else %>
        <p class="no-data-message">This patient has no reported results.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="social-history">
      <h3>Social History</h3>

      <% if @clinical_summary.has_social_history_data? %>
        <%= render partial: 'social_history' %>
      <% else %>
        <p class="no-data-message">This patient has no reported social history.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="vital-signs">
      <h3>Vital Signs</h3>

      <% if @clinical_summary.has_vital_signs_data? %>
        <%= render partial: 'vital_signs' %>
      <% else %>
        <p class="no-data-message">This patient has no reported vital signs.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>
  </div>
</main>
