<main id="patient-detail">
  <div class="column">

    <h2>Patient Detail - Chart ID <%= @clinical_summary.id %>: <%= @patient.last_name %>, <%= @patient.first_name %> [NYU Langone Medical Center]</h2>

    <ul class="info-links">
      <li><%= link_to 'Demographics', '#demographics' %></li>
      <li><%= link_to 'Family History', '#family-history' %></li>
      <li><%= link_to 'Medications', '#medications' %></li>
      <li><%= link_to 'Problems', '#problems' %></li>

      <li><a href="#">Procedures</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">Social History</a></li>
      <li><a href="#">Vital Signs</a></li>
    </ul>

    <section id="demographics">
      <h3>Demographics</h3>

      <%= render partial: 'demographics' %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="family-history">
      <h3>Family History</h3>

      <% if @clinical_summary.has_family_history_data? %>
        <%= render partial: 'family_history' %>
      <% else %>
        <p class="no-data-message">This patient has no reported family history.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="medications">
      <h3>Medications</h3>

      <% if @clinical_summary.has_medications_data? %>
        <%= render partial: 'medications' %>
      <% else %>
        <p class="no-data-message">This patient has no reported medications.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>

    <section id="problems">
      <h3>Problems</h3>

      <% if @clinical_summary.has_problems_data? %>
        <%= render partial: 'problems' %>
      <% else %>
        <p class="no-data-message">This patient has no reported problems.</p>
      <% end %>

      <%= link_to 'Top', '#patient-detail', class: 'top-link' %>
    </section>
  </div>
</main>










